
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FAQ - Frequently Asked Questions</h2>


<p>Here&#8217;s a KB article that provides detailed steps for both options:<span style="COLOR: black; FONT-SIZE: 13pt"> </span><a href="http://support.microsoft.com/kb/948615" mce_href="http://support.microsoft.com/kb/948615">When you open a file in Excel 2007, you receive a warning that the file format differs from the format that the file name extension specifies</a>. </p><br />
