
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page Not Found</h2>

<div class="jumbotron">
   You have arrived here either in error or your awesome Guru programmer have not completed this feature yet.

    <br />
    <a href="~/Home/Index">Please click here to return to Home</a>
</div>

