<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csv" version="1.0.31" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="FluentFTP" version="19.2.2" targetFramework="net471" />
  <package id="Lextm.SharpSnmpLib" version="10.0.9" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net471" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net471" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
  <package id="Zebra.Printer.SDK" version="2.15.2634" targetFramework="net471" />
</packages>