
@{
    ViewBag.Title = "AuthorizeFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />

<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Authorize Failed</h3>
            </div>
            <div class="table-responsive col-sm-offset-1" >
                <table height="300">
                    <tr>
                        <td><h3>@PTPLanguages.Resources.NotAuthorized</h3></td>
                    </tr>
                    <tr>
                      
                        <td><img src="~/Content/noaccess.png" width="300" height="300" /></td>
                       
                    </tr>
                </table>

            </div>

        </div>
    </div>
    </div>



    
