
@{
    ViewBag.Title = "RegisterThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for registering.</h2>
<br />
<p>
    A confirmation email has been sent to your account email.  Please click on the link in the email to confirm your email address.
    <br />
    An Admin will review your account and approve.  In the meantime, your account will be in a locked out state.
</p>

