
@{
    ViewBag.Title = "UserNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Not Found</h2>

<br />
<br />

Dash Board for this User Type is not found.  Please assign correct User Type.

