@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Your Account is Locked out.</h1>
    <h2 class="text-danger">Either you have tried too many failed logins or your account has not been approved by an administrator.</h2>
</hgroup>
